NOTE:
-----

Please run the below cells first before proceeding- you'll need them soon!

In [1]:
%load_ext sql
%sql sqlite:///dataset_1.db

Activity 3-2
------------
Aggregation operators, GROUP BY

Exercise #1
-----------

Consider a set of tables that describe the up-and-coming bagel startup industry; for now let's just look at two tables here, `bagel`, which describes types of bagels made by the different bagel companies:
> * name STRING
> * price FLOAT
> * made_by STRING

And `purchase`:
> * bagel_name STRING
> * franchise STRING
> * date INT
> * quantity INT
> * purchaser_age INT

Where `purchase.bagel_name` references `bagel.name` and `purchase.franchise` references `bagel.made_by`:

In [2]:
%sql SELECT * FROM bagel;

 * sqlite:///dataset_1.db
Done.

[('Plain with shmear', 1.99, 'Bobs Bagels'),
 ('Egg with shmear', 2.39, 'Bobs Bagels'),
 ('eBagel Drinkable Bagel', 27.99, 'eBagel'),
 ('eBagel Expansion Pack', 1.99, 'eBagel'),
 ('Plain with shmear', 0.99, 'BAGEL CORP'),
 ('Organic Flax-seed bagel chips', 0.99, 'BAGEL CORP')]

In [3]:
%sql SELECT * FROM purchase;

 * sqlite:///dataset_1.db
Done.

[('Plain with shmear', 'Bobs Bagels', 1, 12, 28),
 ('Egg with shmear', 'Bobs Bagels', 2, 6, 47),
 ('Plain with shmear', 'BAGEL CORP', 2, 12, 24),
 ('Plain with shmear', 'BAGEL CORP', 3, 1, 17),
 ('eBagel Expansion Pack', 'eBagel', 1, 137, 5),
 ('Plain with shmear', 'Bobs Bagels', 4, 24, None),
 ('Moonshine', 'BAGEL CORP', 7, 1000, 37)]

Can you write a query to get the _total revenue_ for each bagel type **which had an average purchaser age over 18**?  Type your query below:

In [11]:
%%sql
select bagel_name, round(sum(quantity*price), 2) as total_revenue
from bagel as b, purchase as p
where bagel_name=name and franchise=made_by
group by (bagel_name)
having avg(purchaser_age) > 18;

 * sqlite:///dataset_1.db
Done.

[('Egg with shmear', 14.34), ('Plain with shmear', 84.51)]

In [5]:
"""
Expected output below

Don't re-execute this cell!
"""

"\nExpected output below\n\nDon't re-execute this cell!\n"

Exercise #2
-----------

Here we'll use a simplified version of the `precipitation_full` table, which just has _daily_ rainfall _in CA only_, and has the following schema:

> * station_id
> * day
> * precipitation

In [6]:
%sql SELECT * FROM precipitation_full LIMIT 5;

 * sqlite:///dataset_1.db
Done.

[(1, 807, 2013, 9, 1, 1, None, '[', ''),
 (1, 807, 2013, 9, 1, 25, 0, 'I', ''),
 (1, 807, 2013, 9, 30, 24, None, ']', ''),
 (1, 807, 2013, 9, 30, 25, 0, 'I', ''),
 (1, 6303, 2013, 9, 1, 1, 0, 'g', '')]

In [7]:
%sql SELECT * FROM precipitation;

 * sqlite:///dataset_1.db
Done.

[(16102, 1, 10),
 (16102, 4, 10),
 (16102, 24, 30),
 (21201, 1, 0),
 (21201, 20, 10),
 (21201, 21, 100),
 (21201, 30, 10),
 (32104, 1, 0),
 (32204, 1, 0),
 (32204, 6, 10),
 (44205, 1, 0),
 (44205, 3, 0),
 (44905, 1, 0),
 (44905, 21, 10),
 (54602, 1, 0),
 (54602, 20, 10),
 (54602, 21, 100),
 (73102, 1, 0),
 (73102, 2, 10),
 (73102, 6, 0),
 (73102, 11, 0),
 (73102, 21, 40),
 (73102, 25, 10),
 (74206, 1, 0),
 (74206, 30, 0),
 (79004, 1, 0),
 (79004, 21, 20),
 (82207, 1, 0),
 (82207, 3, 0),
 (82207, 12, 0),
 (88302, 1, 0),
 (88302, 21, 190),
 (89702, 1, 0),
 (89702, 2, 68),
 (89702, 3, 2),
 (89702, 21, 143),
 (89702, 22, 1),
 (89702, 24, 0),
 (89702, 25, 0),
 (89702, 30, 2),
 (92707, 1, 0),
 (92707, 2, 1),
 (92707, 4, 12),
 (92707, 6, 1),
 (92707, 7, 0),
 (92707, 8, 25),
 (92707, 9, 18),
 (100504, 1, 0),
 (100504, 21, 90),
 (101802, 1, 10),
 (101802, 2, 170),
 (101802, 12, 10),
 (101802, 21, 150),
 (101802, 25, 10),
 (105706, 1, 0),
 (107603, 1, 10),
 (107603, 21, 20),
 (107603, 26, 10),
 (113002, 1, 20),
 (113002, 2, 10),
 (113002, 21, 130),
 (113002, 24, 30),
 (113002, 30, 10),
 (114204, 1, 0),
 (114204, 4, 10),
 (119406, 1, 0),
 (127207, 1, 0),
 (127207, 30, 0),
 (127705, 1, 0),
 (127705, 21, 70),
 (136906, 1, 0),
 (136906, 30, 0),
 (142406, 1, 0),
 (142406, 30, 0),
 (142805, 1, 10),
 (142805, 21, 70),
 (146002, 1, 0),
 (146002, 2, 90),
 (146002, 21, 100),
 (149702, 1, 10),
 (149702, 2, 20),
 (149702, 21, 40),
 (149702, 29, 10),
 (149702, 30, 10),
 (151806, 1, 0),
 (171502, 1, 0),
 (171502, 21, 90),
 (171502, 24, 20),
 (186405, 1, 0),
 (188601, 1, 0),
 (188601, 30, 0),
 (196404, 1, 0),
 (196404, 7, 0),
 (196404, 21, 65),
 (201205, 1, 0),
 (201205, 30, 0),
 (204804, 1, 10),
 (204804, 21, 20),
 (208401, 1, 0),
 (208401, 20, 30),
 (208401, 21, 70),
 (208401, 29, 20),
 (208401, 30, 20),
 (216407, 1, 0),
 (216407, 30, 0),
 (223906, 1, 0),
 (223906, 30, 0),
 (225707, 1, 0),
 (225707, 3, 51),
 (225707, 4, 8),
 (225707, 5, 0),
 (229402, 1, 0),
 (229402, 21, 70),
 (230602, 1, 0),
 (230602, 20, 20),
 (230602, 21, 40),
 (230602, 23, 10),
 (250002, 1, 0),
 (250002, 2, 290),
 (250002, 21, 70),
 (250002, 25, 10),
 (274901, 1, 0),
 (274901, 30, 0),
 (289901, 1, 0),
 (289901, 17, 10),
 (289901, 20, 50),
 (289901, 21, 10),
 (289901, 25, 10),
 (289901, 28, 10),
 (289901, 29, 190),
 (289901, 30, 20),
 (291001, 1, 0),
 (291001, 2, 0),
 (291001, 12, 0),
 (291001, 13, 1),
 (291001, 14, 2),
 (291001, 17, 9),
 (291001, 20, 44),
 (291001, 21, 22),
 (291001, 22, 7),
 (291001, 23, 2),
 (291001, 24, 46),
 (291001, 25, 10),
 (291001, 28, 7),
 (291001, 29, 138),
 (291001, 30, 26),
 (293502, 1, 0),
 (293502, 21, 120),
 (303805, 1, 0),
 (303805, 21, 120),
 (316101, 1, 0),
 (316101, 12, 10),
 (316101, 20, 10),
 (316101, 21, 20),
 (316101, 29, 30),
 (316101, 30, 20),
 (318201, 1, 0),
 (318201, 20, 60),
 (318201, 21, 10),
 (318201, 29, 70),
 (318201, 30, 10),
 (319401, 1, 0),
 (319401, 20, 20),
 (319401, 21, 120),
 (319401, 23, 10),
 (319401, 29, 90),
 (319401, 30, 40),
 (321905, 1, 0),
 (325705, 1, 0),
 (325705, 21, 1),
 (328506, 1, 0),
 (335701, 1, 0),
 (335701, 2, 20),
 (335701, 20, 90),
 (335701, 21, 90),
 (335701, 22, 40),
 (335701, 23, 20),
 (335701, 24, 110),
 (335701, 25, 50),
 (335701, 28, 40),
 (335701, 29, 460),
 (335701, 30, 0),
 (338402, 1, 0),
 (338402, 2, 20),
 (338402, 21, 160),
 (340206, 1, 0),
 (341904, 1, 0),
 (341904, 21, 10),
 (357302, 1, 0),
 (357302, 2, 150),
 (357302, 21, 100),
 (366905, 1, 0),
 (366905, 21, 20),
 (376101, 1, 0),
 (376101, 15, 10),
 (376101, 17, 10),
 (376101, 20, 50),
 (376101, 21, 40),
 (376101, 24, 30),
 (376101, 25, 10),
 (376101, 28, 10),
 (376101, 29, 230),
 (376101, 30, 20),
 (379102, 1, 0),
 (379102, 20, 10),
 (379102, 21, 10),
 (379102, 29, 10),
 (379102, 30, 10),
 (386104, 1, 0),
 (386104, 21, 22),
 (386104, 30, 0),
 (389102, 1, 0),
 (389102, 13, 20),
 (389102, 21, 180),
 (392804, 1, 0),
 (393905, 1, 0),
 (393905, 21, 70),
 (402504, 1, 0),
 (402504, 30, 0),
 (407401, 1, 0),
 (407401, 20, 70),
 (407401, 21, 130),
 (407401, 23, 20),
 (407401, 28, 20),
 (407401, 29, 180),
 (407401, 30, 60),
 (408901, 1, 0),
 (408901, 20, 60),
 (408901, 21, 70),
 (408901, 22, 10),
 (408901, 23, 20),
 (408901, 25, 20),
 (408901, 29, 260),
 (408901, 30, 60),
 (419101, 1, 0),
 (419101, 20, 30),
 (419101, 21, 80),
 (419101, 25, 10),
 (419101, 29, 110),
 (419101, 30, 60),
 (423207, 1, 0),
 (423207, 15, 10),
 (458701, 1, 0),
 (458701, 15, 10),
 (458701, 17, 20),
 (458701, 20, 90),
 (458701, 21, 70),
 (458701, 22, 10),
 (458701, 23, 20),
 (458701, 24, 50),
 (458701, 25, 20),
 (458701, 29, 170),
 (458701, 30, 100),
 (468901, 1, 0),
 (468901, 20, 10),
 (468901, 21, 20),
 (468901, 25, 10),
 (468901, 29, 10),
 (468901, 30, 10),
 (471202, 1, 0),
 (471202, 21, 60),
 (474907, 1, 0),
 (474907, 9, 0),
 (488301, 1, 0),
 (488301, 20, 60),
 (488301, 21, 90),
 (488301, 23, 10),
 (488301, 28, 10),
 (488301, 29, 240),
 (488301, 30, 120),
 (499504, 1, 0),
 (499504, 2, 1),
 (499504, 21, 46),
 (506707, 1, 0),
 (508506, 1, 0),
 (508506, 30, 0),
 (510005, 1, 0),
 (510005, 30, 0),
 (511406, 1, 0),
 (511406, 30, 0),
 (511506, 1, 0),
 (511506, 30, 0),
 (518404, 1, 0),
 (518404, 21, 10),
 (524201, 1, 0),
 (524201, 20, 60),
 (524201, 21, 100),
 (524201, 28, 10),
 (524201, 29, 140),
 (524201, 30, 40),
 (525802, 1, 0),
 (525802, 20, 30),
 (525802, 21, 20),
 (525802, 29, 20),
 (525802, 30, 20),
 (538802, 1, 0),
 (538802, 2, 0),
 (538802, 21, 74),
 (562303, 1, 0),
 (562303, 2, 100),
 (562303, 24, 40),
 (562303, 25, 10),
 (567902, 1, 0),
 (567902, 20, 10),
 (567902, 21, 100),
 (567902, 24, 20),
 (567902, 25, 10),
 (567902, 30, 10),
 (571101, 1, 0),
 (571101, 17, 10),
 (571101, 20, 60),
 (571101, 21, 160),
 (571101, 24, 10),
 (571101, 29, 80),
 (571101, 30, 40),
 (573805, 1, 0),
 (573805, 21, 13),
 (574105, 1, 0),
 (574105, 21, 30),
 (575607, 1, 0),
 (578501, 1, 0),
 (578501, 17, 10),
 (578501, 20, 40),
 (578501, 21, 20),
 (578501, 25, 20),
 (578501, 29, 30),
 (578501, 30, 20),
 (580204, 1, 0),
 (580204, 30, 0),
 (585304, 1, 0),
 (585304, 21, 10),
 (598302, 1, 0),
 (598302, 19, 10),
 (598302, 20, 30),
 (598302, 21, 80),
 (598302, 25, 10),
 (598302, 29, 20),
 (598302, 30, 20),
 (599601, 1, 10),
 (599601, 21, 80),
 (599601, 30, 10),
 (606604, 1, 0),
 (606604, 21, 82),
 (606604, 29, 0),
 (606604, 30, 2),
 (610501, 1, 0),
 (610501, 20, 80),
 (610501, 28, 30),
 (610501, 29, 40),
 (611507, 1, 0),
 (611507, 30, 0),
 (611807, 1, 12),
 (611807, 2, 0),
 (611807, 6, 1),
 (611807, 7, 0),
 (611807, 8, 0),
 (611807, 9, 9),
 (611807, 10, 4),
 (611807, 11, 0),
 (615406, 1, 0),
 (617405, 1, 0),
 (617405, 21, 40),
 (617405, 22, 10),
 (623202, 1, 0),
 (623202, 30, 0),
 (647306, 1, 0),
 (651301, 1, 0),
 (651301, 20, 60),
 (651301, 21, 40),
 (651301, 22, 20),
 (651301, 23, 10),
 (651301, 24, 10),
 (651301, 25, 10),
 (651301, 28, 10),
 (651301, 29, 280),
 (651301, 30, 30),
 (652102, 1, 0),
 (652102, 21, 80),
 (657706, 1, 0),
 (662407, 1, 0),
 (663507, 1, 0),
 (663507, 30, 0),
 (672602, 1, 0),
 (672602, 21, 10),
 (673004, 1, 0),
 (674204, 1, 0),
 (674204, 30, 0),
 (682601, 1, 0),
 (682601, 21, 50),
 (682601, 30, 10),
 (689305, 1, 0),
 (689305, 21, 50),
 (689305, 22, 10),
 (689305, 26, 10),
 (696402, 1, 0),
 (696402, 21, 100),
 (699802, 1, 0),
 (699802, 2, 240),
 (699802, 8, 10),
 (699802, 12, 40),
 (699802, 21, 60),
 (699802, 24, 50),
 (699802, 25, 10),
 (699802, 30, 10),
 (708502, 1, 0),
 (708502, 2, 60),
 (708502, 24, 30),
 (708502, 25, 20),
 (712306, 1, 0),
 (729202, 1, 0),
 (729202, 20, 3),
 (729202, 21, 44),
 (729202, 24, 4),
 (729202, 30, 1),
 (729302, 1, 0),
 (729302, 21, 50),
 (730402, 1, 0),
 (730402, 20, 10),
 (730402, 21, 122),
 (730402, 25, 4),
 (730402, 29, 0),
 (730402, 30, 3),
 (734201, 1, 0),
 (734201, 17, 20),
 (734201, 20, 90),
 (734201, 21, 80),
 (734201, 22, 10),
 (734201, 23, 20),
 (734201, 24, 20),
 (734201, 25, 20),
 (734201, 29, 340),
 (734201, 30, 130),
 (748902, 1, 0),
 (748902, 10, 50),
 (748902, 21, 140),
 (760007, 1, 0),
 (760007, 30, 0),
 (763002, 1, 0),
 (763002, 2, 10),
 (763002, 21, 49),
 (763302, 1, 0),
 (763302, 2, 13),
 (763302, 21, 42),
 (764601, 1, 0),
 (764601, 13, 10),
 (764601, 21, 70),
 (764601, 28, 10),
 (764601, 29, 20),
 (764601, 30, 20),
 (766904, 1, 0),
 (766904, 21, 7),
 (773506, 1, 0),
 (773506, 21, 1),
 (773506, 22, 1),
 (774006, 1, 0),
 (774006, 6, 0),
 (776904, 1, 0),
 (776904, 21, 23),
 (776904, 30, 0),
 (777204, 1, 0),
 (777204, 21, 39),
 (782104, 1, 0),
 (782104, 2, 0),
 (782104, 21, 66),
 (785104, 1, 0),
 (786704, 1, 0),
 (790206, 1, 0),
 (790506, 1, 0),
 (790506, 30, 0),
 (794606, 1, 0),
 (794606, 21, 0),
 (797104, 1, 0),
 (797104, 20, 16),
 (797104, 21, 24),
 (797104, 29, 1),
 (797104, 30, 7),
 (802501, 1, 0),
 (802501, 12, 10),
 (802501, 20, 110),
 (802501, 21, 50),
 (802501, 22, 20),
 (802501, 23, 10),
 (802501, 25, 10),
 (802501, 29, 230),
 (802501, 30, 30),
 (807201, 1, 0),
 (807201, 20, 10),
 (807201, 21, 30),
 (813502, 1, 0),
 (813502, 20, 10),
 (813502, 21, 130),
 (813502, 29, 40),
 (813502, 30, 40),
 (821802, 1, 10),
 (821802, 14, 10),
 (821802, 21, 30),
 (821802, 24, 10),
 (821802, 25, 20),
 (824306, 1, 0),
 (826106, 1, 0),
 (833202, 1, 0),
 (833202, 2, 10),
 (833202, 12, 30),
 (833202, 13, 30),
 (833202, 21, 180),
 (833202, 22, 20),
 (833202, 25, 10),
 (835503, 1, 0),
 (835503, 14, 10),
 (835503, 21, 30),
 (835503, 23, 10),
 (854402, 1, 0),
 (854402, 30, 0),
 (855805, 1, 0),
 (855805, 2, 1),
 (855805, 21, 27),
 (858702, 1, 0),
 (858702, 21, 10),
 (868004, 1, 0),
 (868004, 10, 10),
 (870303, 1, 0),
 (870303, 2, 100),
 (870303, 24, 10),
 (876203, 1, 0),
 (876203, 2, 0),
 (876203, 12, 32),
 (876203, 13, 0),
 (876203, 14, 0),
 (876203, 21, 39),
 (876203, 24, 0),
 (876203, 25, 0),
 (883205, 1, 0),
 (888501, 1, 0),
 (888501, 20, 50),
 (888501, 21, 10),
 (888501, 29, 20),
 (888501, 30, 10),
 (891205, 1, 0),
 (891705, 1, 10),
 (891705, 4, 20),
 (891705, 22, 10),
 (904303, 1, 0),
 (904303, 12, 20),
 (904303, 21, 50),
 (904303, 25, 20),
 (905301, 1, 0),
 (905301, 17, 40),
 (905301, 20, 20),
 (905301, 21, 40),
 (905301, 25, 20),
 (905301, 30, 20),
 (920302, 1, 0),
 (920302, 21, 23),
 (920302, 25, 1),
 (920302, 30, 0),
 (927301, 1, 0),
 (927301, 20, 40),
 (927301, 21, 20),
 (927301, 29, 10),
 (927301, 30, 10),
 (939002, 1, 0),
 (939002, 20, 10),
 (939002, 21, 60),
 (949001, 1, 0),
 (949001, 20, 30),
 (949001, 21, 50),
 (949001, 29, 70),
 (949001, 30, 10),
 (960502, 1, 10),
 (960502, 21, 50),
 (985505, 1, 0),
 (985505, 3, 0),
 (985505, 5, 0),
 (985505, 21, 90)]

We want to get station_ids which have average precipitations > 75.  Try doing this first as a nested query:

In [113]:
%%sql
select DISTINCT p.station_id
from precipitation p 
where (select avg(precipitation)
       from precipitation 
       where station_id = p.station_id) > 75;

 * sqlite:///dataset_1.db
Done.

[(88302,), (250002,), (335701,), (357302,), (488301,)]

In [6]:
"""
Expected output below

Don't re-execute this cell!
"""

Done.

[(88302,), (250002,), (335701,), (357302,), (488301,)]

Now, try re-writing as a GROUP BY:

In [114]:
%%sql 
select station_id 
from precipitation 
group by (station_id) 
having avg(precipitation) > 75;

 * sqlite:///dataset_1.db
Done.

[(88302,), (250002,), (335701,), (357302,), (488301,)]

In [7]:
"""
Expected output below

Don't re-execute this cell!
"""

Done.

[(88302,), (250002,), (335701,), (357302,), (488301,)]

Now time it by using `%time` followed by single-line versions of your queries above (clunky, but will work) to see how they compare!

**Note:** Yes, currently the answers are filled in below for convenience... but you should still try getting them on your own above!

In [8]:
%time %sql SELECT DISTINCT p.station_id FROM precipitation p WHERE (SELECT AVG(precipitation) FROM precipitation WHERE station_id = p.station_id) > 75;

Done.
CPU times: user 41.9 ms, sys: 1.39 ms, total: 43.3 ms
Wall time: 42.5 ms

[(88302,), (250002,), (335701,), (357302,), (488301,)]

In [9]:
%time %sql SELECT p.station_id FROM precipitation p GROUP BY p.station_id HAVING AVG(p.precipitation) > 75;

Done.
CPU times: user 3.06 ms, sys: 1.43 ms, total: 4.49 ms
Wall time: 3.11 ms

[(88302,), (250002,), (335701,), (357302,), (488301,)]

**An ~ 10-20x difference in execution time!!**